html {
    text-decoration: none;
    color: #999;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 40px auto;
    width: 70%;
    text-decoration: none;
    color: #999;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    scroll-behavior: smooth;
}
    
}div.element1 {
    position: relative;
    left:20px;
    width: 200px;
    height: 200px;
}
div.element2 {
    position: relative;
    left:300px;
    width: 200px;
    height: 200px;
}
body {
    margin: 60px auto;
    width: 70%;
    text-decoration: none;
    color: #999;
}
nav ul, footer ul, header ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li, header ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer, header {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
/* Style the header */
.header {
  padding: 10px 16px;
  
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
.vertical-menu {
  width: 200px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: black; /* Add a black color to the "active/current" link */
  color: white;
}
